.admin-control-button
{
  font-family: 'Inter', sans-serif;  
  background-color:#3772ff ;
  width:150px;
  height: 40px;
  border: none;
  color: white;
  margin: 30px;
  outline: none;
}
.admin-control-button:hover
{
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}
.link
{
    text-decoration:none;
    color:white;
}
.link:hover
{
    text-decoration:none;
    text-decoration-style: none;
    color: white;
}