.data
{
    font-family: 'Inter', sans-serif;
    width: 60%;
    font-size: 12px;
    font-weight: 100;
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    text-align: center;
}
.data th
{ 
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
    height: 40px;
    background-color: #fdc500;
}
.data td
{
   height: 40px;
   border: 1px solid black;
}
